extends layouts/main-layout.pug
block content

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if users.length > 0
            .grid
                each user in users
                    .article.class.product-item
                        .header.card__header
                            h1.product__title #{user.name}
                        div.card__image
                            img(src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", alt="An User")
                        div.card__content
                            .h2.product__price regular user.
                            .p.product__description typical user without any special permissions.
        else 
            h1 Unfortunatelly no users were added yet