doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item 
                        a(href="/users/add-user" class=(path ==='/' ? 'active' : '')) Add user
                    li.main-header__item
                        a(href="/users/list-users" class=(path ==='/users' ? 'active' : '')) List users
        block content